
.icon-fast-time:before { content: '\e800'; } /* '' */
.icon-limo:before { content: '\e801'; } /* '' */
.icon-limousine:before { content: '\e802'; } /* '' */
.icon-phone-call:before { content: '\e803'; } /* '' */
.icon-seat:before { content: '\e804'; } /* '' */
.icon-seat-belt:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-taxi-driver:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-customer-service:before { content: '\e809'; } /* '' */
.icon-hotel:before { content: '\e817'; } /* '' */
.icon-taxi-driver-1:before { content: '\e818'; } /* '' */
.icon-airplane:before { content: '\e819'; } /* '' */
.icon-insurance:before { content: '\e81a'; } /* '' */
.icon-map:before { content: '\e81b'; } /* '' */
.icon-repair:before { content: '\e81c'; } /* '' */
.icon-fuel:before { content: '\e81d'; } /* '' */
.icon-gearbox:before { content: '\e81e'; } /* '' */
.icon-seat-1:before { content: '\e81f'; } /* '' */
.icon-fuel-1:before { content: '\e820'; } /* '' */
.icon-alloy-wheel:before { content: '\e821'; } /* '' */
.icon-avatar:before { content: '\e822'; } /* '' */
.icon-shopping-cart:before { content: '\e823'; } /* '' */
.icon-location:before { content: '\e825'; } /* '' */
.icon-magnifying-glass:before { content: '\e826'; } /* '' */
.icon-phone-call-1:before { content: '\e827'; } /* '' */
.icon-pin:before { content: '\e828'; } /* '' */
.icon-mail:before { content: '\e829'; } /* '' */
.icon-clock-2:before { content: '\e82a'; } /* '' */
.icon-secure-shield:before { content: '\e82f'; } /* '' */
.icon-search:before { content: '\e830'; } /* '' */